@font-face {
	font-family: "Nunito";
	src: url("../fonts/nunito/Nunito-Regular.ttf") format("truetype");
}

body {
	font-family: /*"Nunito",*/ sans-serif;
}

header {
	border-bottom: 1px solid #eee;"
}

.navbar {
	/*font-family: "Nunito", sans-serif;*/
	transition-duration: 0.5s;
}

@media (min-width: 576px) {
	.navbar {
		margin-left: 5rem;
		margin-right: 5rem;
	}
}

@media(max-width: 240px) {
	.navbar-brand-img {
		max-width: 80%;
	}
}

@media(max-width: 360px) {
	.navbar-brand-img {
		max-width: 90%;
	}
}

@media(min-width: 360px) {
	.navbar-brand-img {
		height: 56px;
	}
}

.nav-item {
	/*border-left: 1px solid #eee;*/
	color: black;
	padding: 0.5rem;
	font-weight: 500;
	transition-duration: 0.5s;
	margin-left: 1px;
}

.nav-item:hover {
	background-color: #fafafa;
}

.navbar-link {
	color: #aaa;
	font-weight: 400;
	transition-duration: 0.5s;
}

.nav-item:hover .navbar-link {	
	color: black;
	text-decoration: none;
}

.icon-search, .icon-user, .icon-menu {
	margin-left: 1rem;
	font-size: 1rem;
}

.icon-search:hover, .icon-user:hover, .icon-menu:hover {
	cursor: pointer;
}

.breadcrumb, .breadcrumb a {
	color: #bbb;
}

.jumbotron {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

a {
	color: #000;
}

.footer {
	border-top: 1px solid #eee;
	padding: 4rem;
}

.footer-link {
	color: #aaa;
	margin-top: 0.2rem;
	transition-duration: 0.5s;
}

.footer-link:hover {
	font-weight: 500;
	color: #000;
}

.icon-join {
	margin: 1rem 0.5rem 1rem 0.5rem;
	color: #fff;
	font-size: 1.25rem;
	background-color: #abc;
	padding: 0.4rem 0.5rem 0.4rem 0.5rem;
	border-radius: 2px;
	transition-duration: 0.5s;
	font-weight: normal;
}

.icon-join:hover {
	background-color: #789;
}

.footer-copyright {
	color: #aaa;
	margin-top: 2rem;
}

.center {
	text-align: center;
}

.card-article {
	height: 20rem;
	width: 20rem;
	border-width: 1px;
	border-style: solid;
	margin: 1rem;
}

.card-article .card-title {
	text-shadow: 0 0 .2em #999;
}

.card-article .card-img {
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	opacity: 100%;
	transition-duration: 0.5s;
}

.card-article:hover .card-img {
	opacity: 50%;
}

.card-article .card-img-overlay {
	transition-duration: 0.5s;
	height: 6rem;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}

.card-article:hover .card-img-overlay {
	color: rgba(255, 255, 255, 1);
	height: 100%;
	border-bottom-width: 8px;
	border-bottom-style: solid;
}

.card-article .card-text {
	-webkit-line-clamp: 4;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.card-article .badge-pill {
	opacity: 50%;
	color: #fff;
	transition-duration: 0.5s;
}

.card-article .badge-pill:hover {
	opacity: 100%;
}

.card-article-content {
	height: 0px;
	opacity: 0%;
	transition-duration: 0.5s;
}

.card-article:hover .card-article-content {
	height: auto;
	opacity: 100%;
}

#searchForm {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	padding-left: 1rem;
	padding-right: 1rem;	
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition-duration: 0.5s;
}
